* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbf9f0;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 50px;
}

.display {
    height: 100px;
    background-color: #f4f4f7;
    border-radius: 15px;
}