* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbf9f0;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4);
}

.display {
    height: 100px;
    background-color: #e1e1e5;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display p {
    font-size: 45px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
}

.buttons div {
    display: flex;
    flex: 1;
    gap: 25px;
}

.buttons div button {
    flex: 1;
    border: none;
    background-color: #e1e1e5;
    border-radius: 15px;
    font-size: 25px;
}

.buttons div button:hover {
    background-color: #c0c0c6;
    cursor: pointer;
}

#equal {
    flex-grow: 2.45;
    background-color: #dbf9f0;
}

#equal:hover {
    background-color: #cbe9e0;
}